<!DOCTYPE html>
<html>
    <link href="{{ url_for('static',filename='vendor/bootstrap/bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css')}}">   
    <head>
        <title>Project</title>
    </head>
    <body>        
    <div class="container"> 
        <div class="row text-white mt-5"> 

            <div class="col-md-3">
                <div class="size-70" >APPLE'S</div><br>
                <div class="size-50" >DECAY</div>
                <div class="size-40" >DETECTION</div><br><br><br><br><br><br>
            <div class="button">
              <ul class="left">
                <a href="{{ url_for('upload') }}" class="pr-5">Upload Photo</a>
              </ul>
              <ul class="right">
                <a href="#">Take Picture</a>
              </ul>
            </div>
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <center><img src="{{ url_for('static',filename='img/apple2.png')}}" alt=""></center></a>
            </div>

    </div>
</div>
    </body>
</html>